body {
  padding-top: 220px;
  padding-bottom: 40px;
  background-color: #000000;
}
.login-top {
  text-align:center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 36px;
}
.login-tip {
  text-align: left;
  margin-left:65px;
}